<config>
	<server>
		<ping>
			<fr>192.157.242.248</fr>
			<nl>192.157.242.248</nl>
			<us>192.157.242.248</us>
		</ping>
		<startup>
			<ping>True</ping>
			<updatever>http://svpn.x7sshme.com</updatever>
			<uppage>https://sourceforge.net/projects/svpn-project/</uppage>
		</startup>
	</server>
</config>